$font-lilita-one: "Lilita One", sans-serif;
$font-roboto: "Roboto", sans-serif;

$color-primary: #db3636;
$color-secondary: black;
$color-secondary-shadow: rgba(0, 0, 0, 0.897);
$color-white: white;
$color-white-shadow: rgba(255, 255, 255, 0.877);
$color-gray : gray;
$base-font-size: 16px;
$max-width: 1280px;